<div class="text-center">
  <div>
  <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= alert %></p> 
  <div>  

<turbo-frame id="user_profile">
  <% if @user.email != current_user.email %>
    <h1><%= @user.email %></h1>
    <% if current_user.following?(@user) %>
      <%= button_to "Unfollow", unfollow_path(@user), class: "btn btn-primary btn-danger", method: :post %>
    <% else %>
      <%= button_to "Follow", follow_path(@user), class: "btn btn-primary btn-success", method: :post %>
    <% end %>
  <% else %>
    <h1>My Page</h1>
    <%= current_user.email %>
    <br>
    <br>
  <% end %>
</turbo-frame>
<br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <h5>Followers</h5>
      <% @user.followers.each do |follower| %>
          <p><b><%= link_to follower.email, follower %></b></p>
      <% end %>
  </div>
  <div class="col-5">
    <h5>Following</h5>
    <% @user.following.each do |following| %>
        <p><%= link_to following.email, following %></p>
    <% end %>
  </div>
</div>
<br>

<div class="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <br>
    <% post.comments.last(3).each do |comment| %>
      <div class="comment-container">
        <div class="comment-text">
          <%= "#{link_to(comment.user.email, user_path(comment.user))}: #{comment.text}".html_safe if comment.text.present? %>
        </div>
        <% if comment.user && current_user.id == comment.user.id %>
          <div class="delete-button">
            <%= button_to "ðŸ—‘ï¸", comment, method: :delete, class: "btn btn-primary btn-light" %>
          </div>
        <% end %>
      </div>
    <% end %>
      <% if post.comments.count > 3 %>
        <div class="comment-container">
          <p><%= link_to "...", post, class:"custom-link" %></p>
        </div>
      <% end %>
    <br>
    <br>
  <% end %>
</div>
