<div id="posts" class="text-center">
    <%= stylesheet_link_tag("post")%>
    <div>
    <p style="color: green"><%= notice %></p>  
    <div>  
    <br>
    <h3><%= @user.email %></h3>
    <% if @user.email != current_user.email %>
        <% if current_user.following?(@user) %>
            <%= button_to "Unfollow", unfollow_path(@user) %>
        <% elsif current_user.sent_follow_request_to?(@user) %>
            <%= button_to "Cancel follow request", cancel_path(@user) %>
        <% else %>
            <%= button_to "Follow", follow_path(@user) %>
        <% end %>
    <% end %>
</div>