<div id="<%= dom_id post %>" class="post-container">

  <div style="text-align: left; margin-left: 30px;">
    <%= link_to post.user.email, post.user %>
  </div>
  </p>
  <%= image_tag(post.image, style: "object-fit: contain; width: 500px; height: 500px;") %>
  <p>
  <%= link_to "", post, class:"post-link" %>
  </p>
  <p>
  <div style="text-align: left; margin-left: 30px;">
    <%= post.description %>
  </div>
  </p>
</div>
<div style="align-items: center;">
      <% if user_signed_in? %>
        <%= post.likes.count %>
        <% like = current_user.likes.find_by(post: post) %>
        <% if like.nil? %>
          <%= button_to "Like", likes_path, params: { like: { post_id: post.id}}, method: :post%>
        <% else %>
          <%= button_to "Unlike", like_path(like), method: :delete %>
        <% end %>
      <% end %>
</div>
