<br>
<div class="username-container"> <h5><%= link_to post.user.email, post.user %><h5></div>
<div class="post-container">
  <%= image_tag(post.image, style: "object-fit: contain; width: 500px; height: 500px;") %>
  <%= link_to "", post, class:"post-link" %>
  <p>
  <div style="text-align: left"><%= post.description %></div>
</div>
<%= turbo_frame_tag dom_id(post, :like) do %>
  <div class="like-container" style="display: flex; align-items: center;">
    <span style="margin-right: 10px;">
      <% if user_signed_in? %>
        <% like = current_user.likes.find_by(post: post) %>
        <% if like.nil? %>
          <%= button_to "🤍", likes_path, params: { like: { post_id: post.id } }, method: :post, class: "btn btn-primary btn-light" %>
        <% else %>
          <%= button_to "❤️", like_path(like), method: :delete, class: "btn btn-primary btn-light" %>
        <% end %>
      <% else%>
      ⠀❤️⠀
      <% end %>
    </span>
    <%= "#{post.likes.count} #{'Like'.pluralize(post.likes.count)}" %>
  </div>
<% end %>
<%= turbo_frame_tag "post_#{post.id}" do %>
  <div class="buttons-container" style= "justify-content: flex-start; margin-left: 24px;">
      <%= "💬⠀⠀#{post.comments.count} #{'Comment'.pluralize(post.comments.count)}" %>
  </div>
<% end %>
<br>
