<div id="posts" class="text-center">
  <%= stylesheet_link_tag("post")%>
  <div>
  <p style="color: green"><%= notice %></p>  
  <div> 
  <h1>Editing post</h1>
  <br>
  <%= render "form", post: @post %>
  <br>
  <div>
    <%= link_to "Show this post", @post %> |
    <%= link_to "Back to posts", posts_path %>
  </div>
</div>
