<div class="text-center">
  <div>
  <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= alert %></p>   
  <div> 

  <h1>All Posts</h1>
  <br>
  <br>

<% @posts.each do |post| %>
  <%= render post %>
    <% if user_signed_in? %>
      <% post.comments.last(3).each do |comment| %>
      <div class="comment-container">
        <div class="comment-text">
          <%= "#{link_to(comment.user.email, user_path(comment.user))}: #{comment.text}".html_safe if comment.text.present?%>
        </div>
        <% if comment.user && current_user.id == comment.user.id %>
          <div class="delete-button">
            <%= button_to "ðŸ—‘ï¸", comment, method: :delete, class: "btn btn-primary btn-light" %>
          </div>
        <% end %>
      </div>
      <% end %>
      <% if post.comments.count > 3 %>
        <div class="comment-container">
          <p><%= link_to "...", post, class:"custom-link" %></p>
        </div>
      <% end %>
    <% else %>
        <br>
    <% end %>
    <br>
    <br>
<% end %>
