<div class="text-center">
  <%= stylesheet_link_tag("post")%>
  <div>
  <p style="color: green"><%= notice %></p>  
  <div>  
  <h1>My Posts</h1>
  <br>

<% @posts.each do |post| %>
  <% if post.user.id == current_user.id%>
    <%= render post %>
    <br>
    <% post.comments.last(3).each do |comment| %>
      <div class="comment-container" style="display: flex; justify-content: space-between: 20px; align-items: center; margin-bottom: 5px;">
        <div style="text-align: left; flex: 1;"><%= "#{comment.user.email}: #{comment.text}" if comment.text.present? %></div>
        <% if comment.user && current_user.id == comment.user.id %>
          <div class="delete-button">
            <%= button_to "ðŸ—‘ï¸", comment, method: :delete, class: "btn btn-primary btn-light" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if post.comments.count > 3 %>
      <div class="comment-container" style="display: flex; justify-content: space-between: 20px; align-items: center; margin-bottom: 5px;">
        <p>...</p>
      </div>
    <% end %>
    </div>
  <% end %>
  <br>
<% end %>
<br>
