<div id="posts" class="text-center">
  <%= stylesheet_link_tag("post")%>
  <br>
  <p style="color: green"><%= notice %></p>
  <br>
  <%= render @post %>
    <%= link_to "Back to posts", posts_path %>
    <% if user_signed_in? %>
      <% if current_user.id == @post.user.id %>
      <div>
        <%= link_to "Edit this post", edit_post_path(@post) %>
        <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-primary" %>
      </div>
    <% end %>
      <br>
    <div id="buttons" class="post-container">
      <% @post.comments.each do |comment| %>
        <div style="display: flex; align-items: flex-start; margin-right: 350px;">
          <div>
            <span style="white-space: nowrap;"><%= "#{comment.user.email}: #{comment.text}" if comment.text.present? %></span>
          </div>
          
          <% if comment.user && current_user.id == comment.user.id %>
            <div style="display: flex; justify-content: flex-end;">
              <%= button_to "Delete comment", comment, method: :delete, class: "btn btn-primary delete-btn" %>
            </div>
          <% end %>
        </div>
        <br>
      <% end %>
    <%= render "comments/form", comment: @comment %>
  <% end %>  
</div>
<br>
<br>